:root {
  /* --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
	--nord15: #b48ead; */
	--wp0: #ffffff;
	--wp1: #fbfbfb;
	--wp2: #f1f1f1;
	--wp3: #ccd0d4;
	--wp4: #7e8993;
	--wp5: #444444;
	--wp6: #007cba;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	background: var(--wp2);
	color: var(--nord4);
	margin: 1em auto;
	max-width: 40em;
	width: 88%;
}

#login {
	margin: 3em auto;
	width: 320px;	
}

form {
	background: var(--wp0);
	border: 1px solid var(--wp3);
	padding: 26px 24px 68px;
}

label {
	font-size: 14px;
	color: var(--wp5);
	display: inline-block;
	line-height: 1.5;
	margin-bottom: 3px;
}

input {
	background: var(--wp1);
	border: 1px solid var(--wp4);
	border-width: .0625rem;
	box-sizing: border-box;
	border-radius: 4px;
	color: var(--wp5);
	margin: 0 6px 16px 0;
	min-height: 40px;
	max-height: none;
	padding: .1875rem .3125rem;
	width: 100%;
}

input[type="checkbox"] {
	width: auto;
}

div#password-section {
	position: relative;
}

div#password-section button[type="button"].visible .fas::before {
	content: "\f06e";
}

div#password-section button[type="button"].visible .fas::before {
	content: "\f06e";
}

#remember-section {
	float: left;
}

button[type="button"] {
	background: none;
	border: none;
	bottom: 16px;
	color: var(--wp6);
	cursor: pointer;
	padding: 10px;
	position: absolute;
	right: 0px;
}

button[type="submit"] {
	background: var(--wp6);
	border: 1px solid var(--wp6);
	border-radius: 4px;
	color: var(--wp0);
	float: right;	
	min-height: 40px;
	margin-bottom: 20px;
	padding: 0 12px;
	line-height: 2;
}