html {
	min-height: 100%;
	position: relative;
}

body {
	background-color: #f5f5f5;
	margin-bottom: 60px; /* Margin bottom by footer height */
	color: #4C566A;
}

a {
	color: #5E81AC;
	border-bottom: 1px dotted;
}

a:focus, a:hover {
	border-bottom: 1px solid;
	color: #5E81AC;
	text-decoration: none;
}