html, body {
	height: 100%;
}

body {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #f5f5f5;
}

.forms {
	width: 100%;
	max-width: 800px;
	padding: 30px;
	margin: auto;
	box-shadow: 0 0 10px #ccc;

}

form {

}