:root {
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;
}

body {
	font-family: Hack, monospace;
	background: var(--nord1);
	color: var(--nord4);
	margin: 1em auto;
	max-width: 40em;
	width: 88%;
}

label {
	display: block;
	width: 100%;
}

input, button {
	background: var(--nord2);
	border: 1px solid var(--nord0);
	border-radius: 3px;
	color: var(--nord4);
	padding: 10px;
	margin: 0.5em 0 1em;
}

[type="checkbox"] {
	margin-bottom: 0;
	margin-right: 0.25em;
}

[type="submit"]:focus,
[type="submit"]:hover {
	background: var(--nord3);
}